.s1
{
   font-size: 30px;
   color: purple;
   font-weight: bolder;
   text-align: center;
}
.s2
{
    font-size: 30px;
    color: red;
    font-weight: bolder;
    text-align: center;
}
.s3
{
    font-size: 30px;
    color: blue;
    font-weight: bolder;
    text-align: left;
}
.s4
{
    font-size: 30px;
    color: brown;
    font-weight: bolder;
    text-align: left;
}